body{
    background-color:burlywood (7, 7, 7);
    color: black ;
    text-align: center;
}
p
 title{
     color: white;
 }   
p .card{
    color: grey (10, 10, 10);
}
.logo {
    width: 50px;
}

h2{
    color: black ( 255, 255, 255, 0.692) (57, 55, 180);
}
h6{
    color: grey (245, 239, 239);
}
.card-film {
    min-height: 450px;
}
.text-muted {
    color: rgb(8, 8, 8)!important;
}

.card-film .card-body{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color:black ( 57, 55, 180);
    border: 2px;
    
    
}
.card{
    background-color:grey ( 245, 241, 240);
}
.cor{
    background:grey;
}
#cinema{
    background-color: grey;
}
.navbar-light .navbar-brand{
color:black (55, 6, 231);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 0.6cm;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color :grey (247, 246, 253);
}

.btn-primary {
    background-color:grey;
    border-color: rgb(8, 8, 8);

}
.logo{
    width: 50px;
}

.page-item.active .page-link { 
    background-color:rgb(31, 29, 29);;
    border-color:white;
}

.footer {
    background-color:grey;
}
.footer a{
    color:white (55, 6, 231);;
    text-decoration: none;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}